select {
  position: absolute;
  width: 121.49px;
  height: 36px;
  left: 1315px;
  top: 31px;
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #B4B4B4;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
